@font-face {
    font-family: 'Montserrat';
    src: url('/font/montserrat.ttf');
}
@font-face {
    font-family: 'Manrope';
    src: url('/font/manrope.ttf');
}

@tailwind base;
@tailwind components;
@tailwind utilities;